.large-fixed-text-left {
  font-size:4rem;
  font-family:Futura;
  padding-left:50px;
}

.medium-fixed-text {
  font-size:3rem;
  font-family:Futura;
  padding-right:50px;
}

.medium-fixed-text p{
  margin-bottom: 100px;
}

/*
.sticky-col-stack {
    container-name: sticks;
    container-type: size;
  }


.sticky-col-stack video {
    width: 100cqw !important;
    height: 100cqh !important;
  }
*/

:root {
  --col-religion: #819ECE;
  --col-volunteer: #3C886E;
  --col-phone: #C28AF3;
  --col-misc: #E1937B;
  --col-sleeping: #DDD346;
  --col-personal-care: #4288F1;
  --col-eat: #6EBA38;
  --col-edu: #EF8632;
  --col-work: #CA42A0;
  --col-housework: #5DCAF3;
  --col-household-care: #D44A62;
  --col-nonhouse-care: #86594C;
  --col-shopping: #6EAB8A;
  --col-pro-care: #9D79C3;
  --col-leisure: #6175E4;
  --col-sports: #D879BF;
  --col-travel: #BBBBBB;

}
